
@media only screen and (max-width: 600px) {
    .container-fluid {
    padding: 42px 42px;
  }

  .bg-grey {
  background-color: #f6f6f6;
}

.smallcon {
  font-size: 12px;
  text-align: center;
}
  .test {
    padding: 100px 25px;
    background-image: url("https://i.ibb.co/k2MdZ4Z/Untitled-design-46.png");
    text-align: center;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
  }
/**IMAGE**/

  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.image1 {
/* The image used */
background-image: url("https://i.ibb.co/Sx1Rpgd/Websites-That-Work.png");

  /* Full height */
  height: 60%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  }

  .text1{
    position: absolute;
    z-index: 15;
    text-align: center;
  }

  .headtext{
    left: 60px;
      position:absolute;
      text-align:center;
      top: 100px;
      width: 100%;
      font-size: 60px;
      color: white;
  }

.one {
  padding: 4% 0%;
}

.pracback{
  background-color: #6a0dad;
}

.section1{
  padding:10% 8%;
  text-align: center;
}

.sec1text{
  font-family: Fira Sans;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  padding: 3% 2%;
}

.section2{
  background-image: url("https://i.ibb.co/31mGpFn/Untitled-design-41.png");
  padding:10% 8%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60%;
}

.sec2text{
  font-family: Fira Sans;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  color: white;
}

.sechead1{
  text-align: center;
  font-weight: bold;
}

.sechead2 {
  text-align:center;
  color: white;
  font-weight: bolder;
  font-size: 46px;
}

.icons {
  justify-content: center;
  font-size: 70px;
  transition: 0.5s;
  color: #6a0dad;
  padding:6% 0%;
}

  .btn{
  background-color: #6a0dad;
}

.btn:hover{
  background-color: #a67c00;
}

.conim{
  color: #6a0dad;
  font-size: 20px;
}

.conhead{
  text-decoration: underline;
  text-decoration-color: #6a0dad;
}


.slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1.7s;
    -webkit-animation-duration: 1.7s;
    visibility: visible;
  }

  @keyframes slide {
   0% {
     opacity: 0;
     transform: translateY(70%);
   }
   100% {
     opacity: 1;
     transform: translateY(0%);
   }
 }
 @-webkit-keyframes slide {
   0% {
     opacity: 0;
     -webkit-transform: translateY(70%);
   }
   100% {
     opacity: 1;
     -webkit-transform: translateY(0%);
   }
 }
}

@media only screen and (min-width: 600px) {
  .one {
    display: none;
  }

  .container-fluid {
  padding: 42px 42px;
}

.bg-grey {
background-color: #f6f6f6;
}

.smallcon {
font-size: 12px;
text-align: center;
}
.test {
  padding: 100px 25px;
  background-image: url("https://i.ibb.co/k2MdZ4Z/Untitled-design-46.png");
  text-align: center;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}
/**IMAGE**/

footer {
  background-color: #f2f2f2;
  padding: 25px;
}

body, html {
height: 100%;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

* {
box-sizing: border-box;
}

.image1 {
/* The image used */
background-image: url("https://i.ibb.co/Sx1Rpgd/Websites-That-Work.png");

/* Full height */
height: 80%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
z-index: 1;
}

.text1{
  position: absolute;
  z-index: 15;
  text-align: center;
}

.headtext{
  left: 60px;
    position:absolute;
    text-align:center;
    top: 150px;
    width: 100%;
    font-size: 60px;
    color: white;
}

.one {
padding: 4% 0%;
}

.pracback{
background-color: #6a0dad;
}

.section1{
padding:10% 8%;
text-align: center;
}

.sec1text{
font-family: Fira Sans;
font-size: 20px;
text-align: center;
line-height: 1.5;
padding: 3% 2%;
}

.section2{
background-image: url("https://i.ibb.co/31mGpFn/Untitled-design-41.png");
padding:10% 8%;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 60%;
}

.sec2text{
font-family: Fira Sans;
font-size: 20px;
text-align: center;
line-height: 1.5;
color: white;
}

.sechead1{
text-align: center;
font-weight: bold;
}

.sechead2 {
text-align:center;
color: white;
font-weight: bolder;
font-size: 46px;
}

.icons {
justify-content: center;
font-size: 70px;
transition: 0.5s;
color: #6a0dad;
padding:6% 0%;
}



.btn{
background-color: #6a0dad;
}

.btn:hover{
background-color: #a67c00;
}

.conim{
color: #6a0dad;
font-size: 20px;
}

.conhead{
text-decoration: underline;
text-decoration-color: #6a0dad;
}


.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1.7s;
  -webkit-animation-duration: 1.7s;
  visibility: visible;
}

@keyframes slide {
 0% {
   opacity: 0;
   transform: translateY(70%);
 }
 100% {
   opacity: 1;
   transform: translateY(0%);
 }
}
@-webkit-keyframes slide {
 0% {
   opacity: 0;
   -webkit-transform: translateY(70%);
 }
 100% {
   opacity: 1;
   -webkit-transform: translateY(0%);
 }
