@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

@media only screen and (max-width: 600px) {
/**IMAGE**/

  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("https://i.ibb.co/DMXPkYH/yeahboy.png");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 80%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  bottom: 45px;
}

span{
  z-index: 100;
  position: absolute;
  left: 16px;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  width: 80%;
  padding: 20px;
  text-align: center;
}

/**NAV BAR**/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


.section1{
  padding:10% 8%;
  text-align: center;
}

.sec1text{
  font-family: Fira Sans;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  padding: 3% 2%;
}

.section2{
  background-image: url("https://i.ibb.co/31mGpFn/Untitled-design-41.png");
  padding:10% 8%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60%;
}

.sec2text{
  font-family: Fira Sans;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  color: white;
}

.sechead1{
  text-align: center;
}

.sechead2 {
  color: white;
}

.icons {
  justify-content: center;
  font-size: 50px;
  transition: 0.5s;
}

.slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    visibility: visible;
  }

  @keyframes slide {
   0% {
     opacity: 0;
     transform: translateY(70%);
   }
   100% {
     opacity: 1;
     transform: translateY(0%);
   }
 }
 @-webkit-keyframes slide {
   0% {
     opacity: 0;
     -webkit-transform: translateY(70%);
   }
   100% {
     opacity: 1;
     -webkit-transform: translateY(0%);
   }
}

@media only screen and (min-width: 600px) {
  .one {
    display: none;
  }
}
